@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}


body {
    background-color: black;
    font-size: 20px;
}

/* cabeçalho */
.topo {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.conteiner-topo {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 900px;
    height: 150px;
}

.conteiner-topo>div {
    padding: 10px;
}

.conteiner-topo>div p {
    font-size: 20px;
    text-align: center;
}

.conteiner-topo>div input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
}


/* main */
.conteiner-conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.sessao-conteudo-principal {
    width: 900px;
    height: 600px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    padding: 50px 0px;
}

.conteiner-modificadores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.conteiner-modificadores>div p{
    text-align: center;
    font-weight: bold;
}

.conteiner-modificadores>div input{
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
}

.conteiner-vdv-img {
    display: flex;
    flex-direction: column;
}

.conteiner-vdv {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-left: 50px;
}

.conteiner-vdv>div p{
    text-align: center;
    font-size: 25px;
}

.conteiner-vdv>div input{
    border-radius: 5px;
    height: 30px;
    width: 95%;
    padding: 5px;
}

.conteiner-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-img img {
    width: 80%;
    height: 100%;
    padding-left: 50px;
}

.conteiner-biografia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-biografia h2{
    padding-bottom: 15px;
}

.conteiner-biografia textarea {
    border-radius: 10px;
    resize: none;
    padding: 5px 10px;
    font-size: 15px;
}

/* conteudo secundário */

.sessao-conteudo-secundario {
    width: 900px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: whitesmoke;
}

.sessao-conteudo-secundario>div>h2{
    padding-bottom: 15px;
}

.sessao-conteudo-secundario>div>textarea{
    width: 80%;
    border-radius: 10px;
    resize: none;
}

.conteiner-equipamento {
    width: 100%;
    text-align: center;
}

.conteiner-caracteristicas {
    width: 100%;
    text-align: center;
}

/* rodapé */

footer {
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: center;
}

.conteiner-rodape {
    width: 900px;
    background-color: #d4d4d4;
    text-align: center;
}

.conteiner-rodape a {
    list-style: none;
    font-size: 15px;
    font-style: italic;
    padding: 10px;
}